<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>このアプリは、リアルタイムでエクササイズフォームを分析し、回数をカウントするためにカメラを使用します。</string>
	<key>CFBundleDisplayName</key>
	<string>推しトレ</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2025 推しトレ. 音声合成: VOICEVOX (ずんだもん)</string>
</dict>
</plist>
